
name: Build Application Unpackaged

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:

  build:
    strategy:
      matrix:
        configuration: [Release_Unpackaged]
        platform: [x64, x86]

    runs-on: windows-latest

    env:
      Project_Path: WingetGUIInstaller/WingetGUIInstaller.csproj
      Project_Sdk_Version: "net8.0-windows10.0.22621.0"
      Project_Directory: WingetGUIInstaller
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Get tag
      id: tag
      uses: dawidd6/action-get-tag@v1 

    # Install .NET 10
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.1  

    # Restore the application
    - name: Restore the application
      run: dotnet restore $env:Project_Path -r win-${{ matrix.platform }}

    # Build the project 
    - name: Build the Windows Application
      run: dotnet build $env:Project_Path -c ${{ matrix.configuration }} -r win-${{ matrix.platform }} --self-contained /p:Platform=${{ matrix.platform }} /p:Version=${{steps.tag.outputs.tag}}
    
    - name: Zip the build Output
      run: Compress-Archive -Path $env:Project_Directory\bin\Release\$env:Project_Sdk_Version\* -Destination ${{ github.workspace }}\WingetGUIInstaller_${{ matrix.platform }}_${{steps.tag.outputs.tag}}.zip
    
    - name: ShowFiles
      run: dir

    # Create the release:  
    - name: Create Release
      uses: ncipollo/release-action@v1.10.0
      continue-on-error: true
      with:
        tag: ${{ steps.tag.outputs.tag }}
        name:  ${{ steps.tag.outputs.tag }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}

    # Upload release asset:  
    - name: Update release asset
      id: upload-release-asset
      uses: AButler/upload-release-assets@v2.0
      with: 
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        release-tag: ${{ steps.tag.outputs.tag }}
        files: "WingetGUIInstaller_${{ matrix.platform }}_${{steps.tag.outputs.tag}}.zip"